/* Config Sass By Iban Syahdien */

:root {

    /* Colors: */
    --unnamed-color-ffcc00: #FFCC00;
    --unnamed-color-da0402: #DA0402;
    --unnamed-color-e3e3e3: #E3E3E3;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-97510a: #97510A;
    --unnamed-color-555aa5: #555AA5;
    --unnamed-color-dddddd: #DDDDDD;
    --unnamed-color-ffffff: #fff;
    --unnamed-color-15ae1a: #15AE1A;
    --unnamed-color-f8f8f8: #F8F8F8;
    --unnamed-color-707070: #707070;
    --unnamed-color-f4e226: #F4E226;
    --unnamed-color-b8aaf7: #B8AAF7;
    --unnamed-color-f28f2a: #f28f2a;
    --unnamed-color-5a5a5a: #5A5A5A;
    --unnamed-color-CC6700: #CC6700;
    --unnamed-color-51568F: #51568F;
    --unnamed-color-9A9494: #9A9494;
    --unnamed-color-ed2229: #EE2F21;
    --unnamed-color-33c2e2: #33c2e2;
    --unnamed-color-94ead7: #94ead7;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Poppins, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --swiper-image-ratio: 33.3%;
    /* ratio 16:9 = 56.25% */

    --swiper-width: 50%;
    --swiper-inactive-scale: .85;
    /* makes the other slide smaller */

    /* responsive settings */
    --swiper-mobile-width: 90%;
    --swiper-mobile-inactive-scale: .95;

}

$font-stack: Poppins, sans-serif;
$body-background: #F2F2F2;
$color: #47178f;
$body-color: #5A5A5A;
$color2: #2b99f8;
$colorkuninggelap: #EE2F21;
$brandColor : #2b99f8;
$rgba_brand : rgb(71, 23, 143);
$primary-color	: #47178f;
$primary-color2	: #2b99f8;
$primary-color3	: #2b99f8;
$primary-color4 : #2b99f8;
$primary-color5 : #2b99f8;

$google-blue: #4285f4;
$button-active-blue: #3367d6;

$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;
$yellow: #f6b024;


/**************************************** SOURCE BY IBAN *********************************************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Poppins:400,500");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
    font-family: 'Expletus Sans', cursive;
    color: #444444;
}

a {
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    color: $primary-color2;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $primary-color;
    border-color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: $primary-color2;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid $primary-color;
    border-top-color: #bfe0fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 60px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
    overflow: hidden;
    background: $primary-color;
    color: rgba(255, 255, 255, 0.8);
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -60px;
}

#topbar .contact-info a {
    line-height: 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    text-decoration: underline;
}

#topbar .contact-info i {
    color: #f6b024;
    line-height: 0;
    margin-right: 5px;
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .cta {
    background: transparent;
}

#topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 6px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

#topbar .cta a:hover {
    background: $primary-color3;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    color: $primary-color;
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    top: 60px;
}

#header.header-scrolled {
    background: $primary-color;
    box-shadow: rgba(222, 222, 222, 0.25) 0px 13px 27px -5px, rgba(222, 222, 222, 0.25) 0px 8px 16px -8px;
    top: 0;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media(max-width: 992px) {
    #header .logo {
        font-size: 25px;
    }
}

#header .logo a {
    color: $primary-color;
    font-family: 'Expletus Sans', cursive;
}

#header.header-scrolled .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

.header-inner-pages {
    background: $primary-color !important;
}

.topbar-inner-pages {
    background: rgba(6, 98, 178, 0.9) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

#header.header-scrolled .navbar a,
#header.header-scrolled .navbar a:focus {
    color: #fff;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: $primary-color;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

#header.header-scrolled .navbar>ul>li>a:before {
    background-color: #fff;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: $primary-color;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    // box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.3s;
    border-radius: 8px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #000;
}

.navbar .dropdown ul a.active {
    background: $primary-color;
    color: #fff !important;
}

.navbar .dropdown ul a.active:hover {
    background: transparent;
    color: $primary-color !important;
}

#header.header-scrolled .navbar .dropdown ul a,
#header.header-scrolled .navbar .dropdown ul a:focus,
#header.header-scrolled .navbar .dropdown ul a:active {
    color: #000;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: $primary-color;
}

#header.header-scrolled {

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: #000;
    }
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.navbar .d-logo-mobile {
    display: none;
}

@media(max-width: 992px) {
    .navbar .lang-mobile {
        display: block;
    }

    .navbar .d-logo-mobile {
        display: block;
        margin-left: calc(100% - 70%);
    }

    .navbar .d-logo-mobile img {
        width: 50%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: $primary-color;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

#header.header-scrolled .mobile-nav-toggle {
    color: #fff;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
    border-radius: 50%;
    border: 3px solid #fff;
    font-size: 30px;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(71, 23, 143, 0.7);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 15px 20px;
    font-size: 15px;
    color: #000;
}

#header.header-scrolled .navbar-mobile a,
#header.header-scrolled a:focus {
    color: #000;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: $primary-color;
    font-weight: 600;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $primary-color;
    border-width: 2px;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown a>ul.dropdown-active {
    content: '\f007';
    font-family: 'Font Awesome 5 Free';
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    // box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown a,
.navbar-mobile .dropdown a:focus {
    color: #000;
    box-shadow: none;
}

.navbar-mobile .dropdown ul a,
.navbar-mobile .dropdown ul a:focus {
    padding: 10px 20px;
    color: #000;
}

#header.header-scrolled {

    .navbar-mobile .dropdown ul a:focus,
    .navbar-mobile .dropdown ul a {
        color: #000;
        box-shadow: none;
    }

    .navbar-mobile .dropdown a,
    .navbar-mobile .dropdown a:focus {
        color: #000;
        box-shadow: none;
    }
}

#header.header-scrolled {

    .navbar-mobile .dropdown ul a:hover,
    .navbar-mobile .dropdown ul .active:hover,
    .navbar-mobile .dropdown ul li:hover>a {
        color: $primary-color;
    }
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: $primary-color;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
    z-index: 99;
    transition: 0.3s;
}

#hero:before {
    content: "";
    background: $primary-color;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel .carousel-item h2 img {
    transition: all .3s ease-in-out;
    cursor: grab;
    width: 30%;
    margin-top: 20%;

    &:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
    }

    &:active {
        cursor: grabbing;
        transform: scale(1.3);
        transition: all .3s ease-in-out;
    }
}

@media(max-width: 992px) {
    #hero .carousel .carousel-item h2 img {
        width: 30%;
        justify-content: center;
        margin-top: 5%;
    }
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    transition: all .3s ease-in-out;
    right: 0;
}


#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    visibility: hidden;
    transition: all .3s ease-in-out;
    position: absolute;
    left: 0;
}

#hero:hover .carousel-control-prev-icon {
    width: 10%;
    visibility: visible;
    position: absolute;
    transition: all .3s ease-in-out;
    left: 100%;
}

#hero:hover .carousel-control-next-icon {
    width: 10%;
    visibility: visible;
    position: absolute;
    transition: all .3s ease-in-out;
    right: 100%;
}

@media(max-width: 992px) {
    #hero .carousel-control-next-icon {
        left: 0;
    }

    #hero .carousel-control-prev-icon {
        right: 0;
    }

    #hero:hover .carousel-control-prev-icon {
        left: 30%;
    }

    #hero:hover .carousel-control-next-icon {
        left: -50%;
    }
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f6b024;
}

#hero .btn-get-started:hover {
    background: #f6b024;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px),
(max-height: 700px),
(max-width: 992px) {
    #hero {
        height: 60vh;
        padding: 50px 0;
    }

    #hero h2 {
        font-size: 20px;
    }

    #hero p {
        font-size: 14px;
    }

    #hero .carousel-container {
        margin-top: 40%;
        padding: 25px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

@media(max-width: 992px) {
    section {
        padding: 80px 0;
        overflow: hidden;
    }
}

.section-bg {
    background-color: #f1f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: $primary-color;
}

.section-title p {
    margin-bottom: 0;
    font-style: italic;
}

/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/
.icon-boxes {
    padding-top: 0;
    position: relative;
    z-index: 100;
}

.icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
}

.icon-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
}

.icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.icon-boxes .title a {
    color: $primary-color;
}

.icon-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding: 140px 0;
    background: url("../img/about-bg.png") top center no-repeat;
    position: relative;
}

.about:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .container {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: $primary-color;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: $primary-color;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid $primary-color;
}

.about .content .btn-learn-more:hover {
    background: $primary-color;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .about {
        padding: 60px 0;
    }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}

.clients .swiper-slide:hover img {
    opacity: 1;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid $primary-color;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: $primary-color;
}

.clients .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.clients .owl-item img {
    width: 60%;
    opacity: 0.5;
    transition: 0.3s;
}

.clients .owl-item img:hover {
    opacity: 1;
}

.clients .owl-nav,
.clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.clients .owl-dot.active {
    background-color: $primary-color !important;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    background: #f1f8ff;
    padding: 0;
}

.why-us .content {
    padding: 60px 100px 0 100px;
}

.why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.why-us .content p {
    font-size: 15px;
    color: #848484;
}

.why-us .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

.why-us .accordion-list {
    padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
    padding: 0;
    list-style: none;
}

.why-us .accordion-list li+li {
    margin-top: 15px;
}

.why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.why-us .accordion-list span {
    color: $primary-color;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
    display: none;
}

.why-us .accordion-list a.collapsed {
    color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
    color: $primary-color;
}

.why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
    display: none;
}

.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient($primary-color 50%, rgba(8, 128, 232, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.why-us .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(8, 128, 232, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
    border-left: 15px solid $primary-color;
    transform: scale(20);
}

.why-us .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@media (max-width: 1024px) {

    .why-us .content,
    .why-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .why-us .content {
        padding-top: 30px;
    }

    .why-us .accordion-list {
        padding-bottom: 30px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    margin-bottom: 20px;
    padding: 50px 40px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.services .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
}

.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .icon-box h4 a {
    color: $primary-color;
    transition: 0.3s;
}

.services .icon-box h4 a:hover {
    color: $primary-color;
}

.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(67, 5, 133, 0.8), rgba(67, 5, 133, 0.8)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
}

.cta.reset {
    height: 100vh;
    background-attachment: fixed;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #f6b024;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #f6b024;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
# Portfoio
--------------------------------------------------------------*/
.portfoio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.portfoio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
}

.portfoio #portfolio-flters li:hover,
.portfoio #portfolio-flters li.filter-active {
    color: #fff;
    background: $primary-color;
}

.portfoio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfoio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfoio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfoio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -50px;
    border-radius: 10px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: $primary-color;
    padding: 15px 20px;
}

.portfoio .portfolio-item .portfolio-info h4 {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    width: 85%;
    text-align: left;
}

.portfoio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.portfoio .portfolio-item .portfolio-info .preview-link,
.portfoio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfoio .portfolio-item .portfolio-info .preview-link:hover,
.portfoio .portfolio-item .portfolio-info .details-link:hover {
    color: #8ec8fb;
}

.portfoio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfoio .portfolio-item img {
    width: 100%;
}

.portfoio .portfolio-item:hover img {
    top: -30px;
    filter: grayscale(3);
}

.portfoio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}


.portfoio .portfolio-item .icons-wishlist a {
    position: absolute;
    right: 100px;
    background: transparent;
    padding: 5px;
    color: $primary-color;
    font-size: 30px;
    visibility: hidden;
    display: inline-block;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid $primary-color;
    top: 30px;

    &:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
        color: $yellow;
        border-bottom: 1px solid $yellow;
    }
}

.portfoio .portfolio-item:hover .icons-wishlist a {
    visibility: visible;
    transition: all .3s ease-in-out;
    top: 5px;
}

.portfoio .portfolio-item .icons-cart a {
    position: absolute;
    right: 30px;
    top: 30px;
    background: transparent;
    padding: 5px;
    color: $primary-color;
    font-size: 30px;
    visibility: hidden;
    display: inline-block;
    border-bottom: 1px solid $primary-color;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out;
        color: $yellow;
        border-bottom: 1px solid $yellow;
    }
}

.portfoio .portfolio-item:hover .icons-cart a {
    visibility: visible;
    transition: all .3s ease-in-out;
    top: 5px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
    max-height: 750px;
}

@media(max-width: 992px) {
    .portfolio-details .portfolio-details-slider img {
        width: 100%;
        max-height: 250px;
    }
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid $primary-color;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: $primary-color;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(246, 176, 36, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .img-toko {
    width: 10%;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

.portfolio-details .swiper-button-next {
    right: 0;
    top: 35% !important;
    visibility: hidden;
    padding: 20px;
    transition: all .3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translate(50%, -50%);
}

.portfolio-details .swiper-button-prev {
    left: 0;
    top: 35% !important;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: translate(50%, -50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
}

.portfolio-details .swiper:hover .swiper-button-next {
    visibility: visible;
    transform: translate(50%, -50%);
    right: 10% !important;
    top: 35% !important;
    transition: all .3s ease-in-out;
}

.portfolio-details .swiper:hover .swiper-button-prev {
    visibility: visible;
    transform: translate(-50%, -50%);
    left: 10% !important;
    top: 35% !important;
    transition: all .3s ease-in-out;
}

.portfolio-details .swiper .swiper-button-next:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

.portfolio-details .swiper .swiper-button-prev:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

@media only screen and (max-width: 768px) {
    .portfolio-details .swiper {
        height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
    }

    .portfolio-details .swiper-slide {
        width: var(--swiper-mobile-width);
        transform: scale(var(--swiper-mobile-inactive-scale));
    }

    .portfolio-details .swiper-backface-hidden .swiper-slide.swiper-slide {
        transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
    }

    //   .swiper-button-next {
    //     right: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }

    //   .swiper-button-prev {
    //     left: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }
}

@media only screen and (max-width: 992px) {
    .portfolio-details .swiper-button-next {
        right: -100% !important;
        top: 25% !important;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .portfolio-details .swiper-button-prev {
        left: -100% !important;
        top: 25% !important;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .portfolio-details .swiper:hover .swiper-button-next {
        visibility: visible;
        transform: translate(50%, -50%);
        right: 40px !important;
        top: 25% !important;
        transition: all .3s ease-in-out;
    }

    .portfolio-details .swiper:hover .swiper-button-prev {
        visibility: visible;
        transform: translate(-50%, -50%);
        left: 40px !important;
        top: 25% !important;
        transition: all .3s ease-in-out;
    }

    .portfolio-details .swiper .swiper-button-next:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }

    .portfolio-details .swiper .swiper-button-prev:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
}

.team .member .pic {
    overflow: hidden;
    width: 130px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
    width: 100%;
}

.team .member .member-info .btn-delete {
    position: absolute;
    right: 10px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: $primary-color;
}

@media(max-width: 992px) {
    .team .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .team .member h4 {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 20px;
    }

    .team .member .member-info .btn-delete {
        right: 5px;
        font-size: 12px;
    }

    .team .member label img {
        border-radius: 50%;
        width: 20%;
        height: 20%;
    }

    .team .member label span {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: $primary-color;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    width: 36px;
    height: 36px;
    background: #ecf6fe;
    color: $primary-color;
}

.team .member .social a i {
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: $primary-color;
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
    background: #f8f8f8;
}

.pricing h4 {
    font-size: 36px;
    color: $primary-color;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing ul li {
    padding-bottom: 16px;
}

.pricing ul i {
    color: $primary-color;
    font-size: 18px;
    padding-right: 4px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.pricing .btn-buy {
    background: $primary-color;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .btn-buy:hover {
    background: $primary-color2;
}

.pricing .featured h3 {
    color: #fff;
    background: $primary-color;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: $primary-color;
    color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #75bdfa;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: $primary-color;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background: url("../img/contact-bg.png") left center no-repeat;
    position: relative;
}

.contact:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.contact .container {
    position: relative;
}

.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    background: $primary-color;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #043c6d;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444444;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    border: 0;
    padding: 10px 32px;
    color: $primary-color;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid $primary-color;
    background: #fff;
}

.contact .php-email-form button[type=submit]:hover {
    background: $primary-color;
    color: #fff;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #ecf6fe;
    margin-top: 130px;
}

.breadcrumbs h2 {
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
}

@media(max-width: 992px) {
    .breadcrumbs h2 {
        font-size: 14px;
        font-weight: 600;
        color: $primary-color;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #f8c255;
    content: "/";
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
    padding: 40px 0 20px 0;
}

.blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
    color: $primary-color;
    transition: 0.3s;
}

.blog .entry .entry-title a:hover {
    color: #f6b024;
}

.blog .entry .entry-meta {
    margin-bottom: 15px;
    color: $primary-color2;
}

.blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog .entry .entry-meta ul li+li {
    padding-left: 20px;
}

.blog .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
}

.blog .entry .entry-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog .entry .entry-content p {
    line-height: 24px;
}

.blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #f6b024;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
    background: #f7b93c;
}

.blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: $primary-color;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
    color: #8ec8fb;
    display: inline;
}

.blog .entry .entry-footer a {
    color: #138df7;
    transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
    color: #f6b024;
}

.blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog .entry .entry-footer .cats li {
    display: inline-block;
}

.blog .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog .entry .entry-footer .tags li {
    display: inline-block;
}

.blog .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.blog .entry .entry-footer .share {
    font-size: 16px;
}

.blog .entry .entry-footer .share i {
    padding-left: 5px;
}

.blog .entry-single {
    margin-bottom: 30px;
}

.blog .blog-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
    width: 120px;
    margin-right: 20px;
}

.blog .blog-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
    color: $primary-color;
}

.blog .blog-author .social-links {
    margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
    color: rgba(8, 128, 232, 0.5);
    margin-right: 5px;
}

.blog .blog-author p {
    font-style: italic;
    color: #b7b7b7;
}

.blog .blog-comments {
    margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
    font-weight: bold;
}

.blog .blog-comments .comment {
    margin-top: 30px;
    position: relative;
}

.blog .blog-comments .comment .comment-img {
    margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
    width: 60px;
}

.blog .blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
    color: #f6b024;
}

.blog .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: $primary-color;
}

.blog .blog-comments .comment h5 .reply i {
    font-size: 20px;
}

.blog .blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: $primary-color2;
    margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
    padding-left: 40px;
}

.blog .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.blog .blog-comments .reply-form p {
    font-size: 14px;
}

.blog .blog-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #fad386;
}

.blog .blog-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #fad386;
}

.blog .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: $primary-color;
}

.blog .blog-comments .reply-form .btn-primary:hover {
    background-color: #138df7;
}

.blog .blog-pagination {
    color: $primary-color;
}

.blog .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.blog .blog-pagination li a {
    color: $primary-color;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
    background: #f6b024;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
    color: #fff;
}

.blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: $primary-color;
    position: relative;
}

.blog .sidebar .sidebar-item {
    margin-bottom: 30px;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
}

.blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #f6b024;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    background: #f8c255;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li+li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: $primary-color;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: #f6b024;
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: $primary-color;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: #f6b024;
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: $primary-color;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid white;
    display: inline-block;
    transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #f6b024;
    background: #f6b024;
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: white;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: $primary-color;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: $primary-color;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
    color: #000;
    text-transform: lowercase;
}

#footer .footer-newsletter form input[type=email]::placeholder {
    text-transform: capitalize;
}

#footer .footer-newsletter form input[type=email]:focus {
    box-shadow: none;
    border: none;
    border-bottom: none !important;
    padding: 5px !important;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #f6b024;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: $primary-color;
}

#footer .footer-top {
    background: $primary-color;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 16px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #f6b024;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-contact a {
    transition: all .3s ease-in-out;
}

#footer .footer-top .footer-contact a:hover {
    color: rgb(158, 157, 162);
    transition: all .3s ease-in-out;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #f6b024;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– INTRO MILESTONE SECTION –––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background: $primary-color;
    padding: 100px 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: $primary-color2;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: $primary-color;
    color: #fff;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $primary-color transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $primary-color;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: $primary-color;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $primary-color transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}

@media(max-width: 992px) {
    .search {
        width: 80%;
        position: relative;
        display: flex;
    }
}

.searchTerm {
    width: 100%;
    border: 3px solid $primary-color;
    border-right: none;
    padding: 5px;
    height: auto;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #00006b78;
}

.searchTerm:focus {
    color: $primary-color;
}

.searchButton {
    width: 40px;
    height: auto;
    border: 1px solid $primary-color;
    background: $primary-color;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.resultSearch {
    list-style: none;
    background: #fff;
    width: 50%;
    margin-top: 5px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.resultSearch li p a {
    border: 2px solid $primary-color;
    border-color: $primary-color;
    border-radius: 10px;
    padding: 8px 10px;
    color: $primary-color;
    cursor: pointer;
    width: auto;
    transition: all .3s ease-in-out;
}

.resultSearch li p a:hover {
    background: $primary-color;
    color: #fff;
    border-color: #fff;
    transition: all .3s ease-in-out;
}

.resultSearch li {
    padding: 10px 5px;
}

@media(max-width: 992px) {
    .resultSearch {
        list-style: none;
        background: #fff;
        width: 90%;
        margin-top: 5px;
        transition: all .3s ease-in-out;
        border-radius: 10px;
        padding: 10px 10px;
        margin-bottom: 30px;
        max-height: 300px;
        overflow-y: auto;
    }

    .resultSearch li p a {
        // padding: 15px 15px;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .resultSearch li {
        padding: 15px 15px 15px 15px;
        width: auto;
    }
}

.btn-kontak {
    background: $primary-color;
    color: #fff;
    border-radius: 24px;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
    border-color: $primary-color;
    justify-content: center !important;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}

@media(max-width: 992px) {
    .btn-kontak {
        margin-left: 25%;
        font-size: 18px;
    }
}

.btn-kontak:hover {
    background: #fff;
    color: $primary-color;
    text-align: center;
    transition: all .3s ease-in-out;
    border-color: #fff;
}

.cookie-consent {
    /* display:none; */
    position: fixed;
    z-index: 9999 !important;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
    text-align: left;
}

.cookie-consent .bg-yellow-100 {
    background: $primary-color !important;
}

.js-cookie-consent-agree {
    float: right;
    background: $primary-color !important;
    color: #fff !important;
    border: 1px solid $primary-color !important;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media(max-width: 992px) {
    .js-cookie-consent-agree {
        position: inherit;
        margin-right: 30%;
        margin-bottom: 20px;
    }
}

.cookie-consent {
    width: 100%;
}

.cookie-consent p {
    /* text-decoration: underline!important; */
    color: #fff !important;
    text-align: center;
    font-size: 18px;
}

/* CSS Multiple Whatsapp Chat */
.whatsapp-name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
}

#whatsapp-chat {
    box-sizing: border-box !important;

    outline: none !important;
    position: fixed;
    width: 350px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    bottom: 80px;
    right: 30px;
    overflow: hidden;
    z-index: 50 !important;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
}

a.blantershow-chats {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 50 !important;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

a.blantershow-chat {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 50 !important;
    bottom: 50px;
    left: 80px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

@media (max-width: 992px) {
    #whatsapp-chat {
        box-sizing: border-box !important;

        outline: none !important;
        position: fixed;
        width: 350px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        bottom: 100px;
        left: 80px;
        overflow: hidden;
        z-index: 50 !important;
        animation-name: showchat;
        animation-duration: 1s;
        transform: scale(1);
    }

    a.blantershow-chats {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 50 !important;
        bottom: 40px;
        right: 20px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    a.blantershow-chat {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 50 !important;
        bottom: 40px;
        left: 20px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    }
}

a.blantershow-chats svg {
    transform: scale(1.2);
    margin: 0 10px 0 0;
}

.header-chat {
    /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
    background: #009688;
    background: #095e54;
    color: #fff;
    padding: 20px !important;
}

.header-chat h3 {
    margin: 0 0 10px;
}

.header-chat p {
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
}

.info-avatar {
    position: relative;
}

.info-avatar img {
    border-radius: 100%;
    width: 70px;
    float: left;
    padding: 0;
    margin: -12px 10px 0 0;
    background: transparent;
}

a.informasi {
    padding: 40px;
    display: block;
    overflow: hidden;
    animation-name: showhide;
    animation-duration: 0.5s;
}

a.informasi:hover {
    background: #f1f1f1;
}

.info-chat span {
    display: block;
}

#get-label,
span.chat-label {
    font-size: 12px;
    color: #888;
}

#get-nama,
span.chat-nama {
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 700;
    color: #222;
}

#get-label,
#get-nama {
    color: #fff;
}

span.my-number {
    display: none;
}

/* .blanter-msg {
color: #444;
padding: 20px;
font-size: 12.5px;
text-align: center;
border-top: 1px solid #ddd;
} */

.start-chat .blanter-msg {
    display: flex;
    background: #fff;
    padding: 5px;
}

textarea#chat-input {
    border: none;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 30px;
    outline: none;
    z-index: 9999 !important;
    resize: none;
    padding: 2px 5px;
    font-size: 14px;
    overflow-y: auto !important;
}

a#send-it {
    width: 30px;
    font-weight: 700;
    padding: 5px 8px 0;
    background: #eee;
    border-radius: 10px;

    svg {
        fill: #a6a6a6;
        height: 20px;
        width: 20px;
        margin-top: -4px !important;
    }
}

.first-msg {
    background: transparent;
    padding: 30px;
    text-align: center;

    & span {
        background: #e2e2e2;
        color: #333;
        font-size: 14.2px;
        line-height: 1.7;
        border-radius: 10px;
        padding: 15px 20px;
        display: inline-block;
    }
}

#get-number {
    display: none;
}

a.close-chat {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 30px;
}

@keyframes ZpjSY {
    0% {
        background-color: rgb(182, 181, 186);
    }

    15% {
        background-color: rgb(17, 17, 17);
    }

    25% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes hPhMsj {
    15% {
        background-color: rgb(182, 181, 186);
    }

    25% {
        background-color: rgb(17, 17, 17);
    }

    35% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes iUMejp {
    25% {
        background-color: rgb(182, 181, 186);
    }

    35% {
        background-color: rgb(17, 17, 17);
    }

    45% {
        background-color: rgb(182, 181, 186);
    }
}


@keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes showchat {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}

.hides {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.shows {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.whatsapp-message-container {
    display: flex;
    z-index: 1;
}

.whatsapp-message {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
    padding: 20px 20px 20px 10px;
    background-color: rgb(230, 221, 212);
    position: relative;

    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.08;
        background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
        // background-image: url(https://res.cloudinary.com/eventbree/image/upload/v1575782560/Widgets/whatsappbg_opt.jpg);
    }
}

.dAbFpq {
    display: flex;
    z-index: 1;
}

.eJJEeC {
    background-color: rgb(255, 255, 255);
    width: 52.5px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.1s ease 0s;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
    position: relative;
    display: flex;
}

.ixsrax {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    background-color: rgb(158, 157, 162);
    animation-name: ZpjSY;
}

.dRvxoz {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: rgb(182, 181, 186);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    animation-name: hPhMsj;
}

.kAZgZq {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);

    &::before {
        position: absolute;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        top: 0px;
        left: -12px;
        width: 12px;
        height: 19px;
    }
}

.bMIBDo {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.cqCDVm {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color:
        rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
}

.mt-5 {
    margin-top: 5% !important;
}

.mb-5 {
    margin-bottom: 5% !important;
}

@media(max-width: 992px) {
    .mt-5 {
        margin-top: 15% !important;
    }

    .mb-5 {
        margin-bottom: 25% !important;
    }
}

.full-width {
    background: transparent;
    border-top: none;
    border-bottom: none;
    padding: 40px 0;
    text-align: left;
    margin-bottom: 60px;
}

.page-width {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 6px 6px;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 1px;
    text-decoration: none;
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    display: inline-block;
    outline: none;
}

.button.foot {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
}

.button:hover,
.button:active {
    filter: brightness(90%);
}

/*----------------------------------------*\
|    expander CSS only below this point    |
\*----------------------------------------*/

button.expand-toggle.hidden {
    display: none;
}

div.expander {
    position: relative;
    overflow: hidden;
    max-height: 144px;
    /* starting height - best to use a multiple of line-height */
    transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    margin-bottom: 15px;
}

div.expander:before {
    /* this applies a faded gradient to the bottom of the expanding content when closed */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#F9FBFB00 50%, #fff);
    /* match this colour with the colour of the background */
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

div.expander.foot:before {
    /* this applies a faded gradient to the bottom of the expanding content when closed */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#F9FBFB00 50%, rgb(71, 23, 143));
    /* match this colour with the colour of the background */
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

div.expander.expanded:before {
    /* hides the gradient when expanded */
    opacity: 0;
}

@media only screen and (min-width: 480px) {

    /* adusts the max-height of the 'closed' expander for 480px+ */
    div.expander {
        max-height: 96px;
    }
}

@media only screen and (min-width: 720px) {

    /* adusts the max-height of the 'closed' expander for 720px+ */
    div.expander {
        max-height: 72px;
    }
}

.swiper {
    position: relative;
    width: 100%;
    height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
    overflow: hidden;
    z-index: 5 !important;
    margin-top: -10px;
    cursor: grab;
}

.swiper:active {
    cursor: grabbing;
}

.swiper-slide {
    position: relative;
    width: var(--swiper-width);
    opacity: .5;
    transform: scale(.84);
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 0.4285rem;
}

.swiper-backface-hidden .swiper-slide {
    transform: scale(.84) translateZ(0);
}

.swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0) !important;
}

.swiper-image {
    position: relative;
    width: 100%;
    padding-top: var(--swiper-image-ratio);
}

.swiper-image .image img {
    width: 100%;
    height: 350px;
    border-radius: 24px;
    cursor: e-resize;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 8px;
    width: 12px;
    height: 12px;
    margin-top: 40px;
    background: rgb(255, 255, 255, 1) !important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
    color: rgba(16, 24, 32, 1);
}

.swiper-button-next {
    right: 0;
    visibility: hidden;
    padding: 20px;
    transition: all .3s ease-in-out;
    transform: translate(50%, -50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.swiper-button-prev {
    left: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: translate(50%, -50%);
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.swiper:hover .swiper-button-next {
    visibility: visible;
    transform: translate(50%, -50%);
    right: calc((100% - var(--swiper-width)) / 2);
    transition: all .3s ease-in-out;
}

.swiper:hover .swiper-button-prev {
    visibility: visible;
    transform: translate(-50%, -50%);
    left: calc((100% - var(--swiper-width)) / 2);
    transition: all .3s ease-in-out;
}

.swiper .swiper-button-next:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

.swiper .swiper-button-prev:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

@media only screen and (max-width: 768px) {
    .swiper {
        height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
    }

    .swiper-slide {
        width: var(--swiper-mobile-width);
        transform: scale(var(--swiper-mobile-inactive-scale));
    }

    .swiper-backface-hidden .swiper-slide.swiper-slide {
        transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
    }

    //   .swiper-button-next {
    //     right: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }

    //   .swiper-button-prev {
    //     left: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }
}

@media only screen and (max-width: 992px) {
    .swiper-button-next {
        right: -100%;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper-button-prev {
        left: -100%;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper:hover .swiper-button-next {
        visibility: visible;
        transform: translate(50%, -50%);
        right: 40px;
        transition: all .3s ease-in-out;
    }

    .swiper:hover .swiper-button-prev {
        visibility: visible;
        transform: translate(-50%, -50%);
        left: 40px;
        transition: all .3s ease-in-out;
    }

    .swiper .swiper-button-next:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }

    .swiper .swiper-button-prev:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }
}

.disables {
    pointer-events: none;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.btn-primary {
    background: $primary-color !important;
    border-color: $primary-color !important;
}

.btn-primary:hover {
    background: $primary-color2 !important;
    border-color: $primary-color2 !important;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
    width: 14px !important;
    height: 5px !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-button {
    display: none;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track-piece {
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 5px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 4px 0px 0px 4px $primary-color inset;
    box-shadow: 4px 0px 0px 4px $primary-color inset;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, $primary-color, $primary-color5);
    border: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

.iframe,
img {
    border-radius: 9px;
}

.btn-custom:hover {
    transition: all .3s ease-in-out;
    background: $primary-color !important;
    color: #fff !important;
}

.btn-custom>i {
    content: '\f105' !important;
    font-family: 'Font Awesome 5 Free' !important;
    position: relative !important;
    right: -20px !important;
    visibility: hidden !important;
}

.btn-custom:hover>i {
    content: '\f105' !important;
    font-family: 'Font Awesome 5 Free' !important;
    position: relative !important;
    right: -10px !important;
    visibility: visible !important;
}

.text-green-700 {
    color: $primary-color !important;
}

.text-primary {
    color: $primary-color !important;
}

.modal .close {
    font-size: 30px;
    position: absolute;
    right: 20px;
}

.dot {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.fade-scale {
    transform: scale(0);
    transition: transform .2s !important;
    animation: zoom-in-zoom-out 1s ease linear;
    /* Animation */
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1.2);
    animation: zoom-in-zoom-out 1s ease linear;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

// .modal-dialog-centered {
//     top: -20% !important;
// }

.overflow-y-auto {
    overflow-y: auto !important;
}

.form-floating input,
.form-group input {
    border-radius: 10px;
    border-color: #E5E7EB;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-floating input:focus,
.form-group input:focus,
.form-floating input:active,
.form-group input:active {
    border: 1px solid $primary-color !important;
    border-color: $primary-color !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

input {
    border-color: #E5E7EB;
    border-top: none;
    border-right: none;
    border-left: none;
}

input:focus,
input:active,
.form-control:focus {
    border-color: $primary-color !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.select2 {
    height: 15px;
}

.clearfix {
    clear: both !important;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;

}

.rating-stars ul>li.star {
    display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
    cursor: grab;
}

.rating-stars ul>li.star.hover>i.fa:active {
    cursor: grabbing;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

input,
select {
    border-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff !important;
    border: 1px solid #fff !important;
}

.cta .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.cta .field-icon:hover,
.cta .field-icon:active {
    transition: all .3s ease-in-out;
    color: rgba(248, 246, 255, 0.642);
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

button:disabled {
    background-color: #cccccc;
    color: #666666 !important;
    border: 1px solid #999999 !important;
    cursor: no-drop;
}

a:disabled {
    color: #666666;
    cursor: no-drop;
}

.hide {
    display: none;
}

#carts-mobile {
    display: none;
}

@media(max-width: 992px) {
    #carts {
        display: none;
    }

    #carts-mobile {
        display: block;
    }
}

.payment-foot {
    width: 70px;
    cursor: grab;
    transition: all .3s ease-in-out;
}

.payment-foot:active {
    cursor: grabbing;
}

.payment-foot:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.2);
}

.size-cart,
.variant-cart {
    list-style-type: none;
}

.size-cart li,
.variant-cart li {
    display: inline-block;
    font-size: 14px;
}

.bg-size,
.bg-variant {
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.bg-size:hover {
    transition: all .3s ease-in-out;
    background-color: $primary-color;
    color: #fff;
}

.bg-size.active {
    background-color: $primary-color;
    color: #fff;
}

.bg-variant {
    border-radius: 24px;
}

.bg-variant:hover {
    transition: all .3s ease-in-out;
    background-color: $primary-color2;
    color: #fff;
}

.bg-variant.active {
    background-color: $primary-color2;
    color: #fff;
}

.bg-primary,
.btn-primary {
    background: $primary-color !important;
}

.text-primary {
    color: $primary-color !important;
}

.bg-danger {
    background: var(--unnamed-color-ed2229) !important;
}

.modal-body .form-floating input {
    border-bottom: 1px solid $primary-color !important;
}

.modal-body .field-icon {
    margin-right: 20px !important;
}

.google-button {
    all: unset;

    margin: auto;
    width: fit-content;
    height: 47px;
    background-color: $google-blue;
    color: #0000;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: space-between;

    .google-icon-wrapper {
        margin: 1px;
        width: 45px;
        height: 45px;
        border-radius: 1px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .google-button-text {
        display: flex;
        color: #ffff;
        font-size: 16px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
        margin-left: 1em;
        margin-right: 1em;
        align-items: center;
    }

    &:hover {
        box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
        cursor: pointer;
    }

    &:active {
        background: $button-active-blue;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

.float-right {
    float: right !important;
}

select {
    border-bottom: 1px solid $primary-color !important;
    cursor: grab;
}

select:active {
    cursor: grabbing;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed !important;
}

button.disabled {
    cursor: no-drop !important;
}

.qty-input {
    color: $black;
    background: $white;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: auto;

    .product-qty,
    .qty-count {
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        display: inline-block;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;


        &:focus {
            outline: none;
        }
    }

    .product-qty {
        width: 50px;
        min-width: 0;
        display: inline-block;
        text-align: center;
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    .qty-count {

        padding: 0;
        cursor: grab;
        width: 2.5rem;
        font-size: 1.25em;
        text-indent: -100px;
        overflow: hidden;
        position: relative;

        &:before,
        &:after {
            content: "";
            height: 2px;
            width: 10px;
            position: absolute;
            display: block;
            background: $black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &--minus {
            border-right: 1px solid $smoke;
        }

        &--add {
            border-left: 1px solid $smoke;

            &:after {
                transform: rotate(90deg);
            }
        }

        &:disabled {
            color: #fff !important;
            background: #cccccc !important;
            cursor: not-allowed;
            border: 1px solid #999999 !important;
            padding: 0 !important;

            &:before,
            &:after {
                color: #fff !important;
                background: #666666 !important;
            }
        }

        &:active {
            color: #fff !important;
            background: #cccccc !important;
            cursor: grabbing;
            border: 1px solid #999999 !important;
            padding: 0 !important;

            &:before,
            &:after {
                color: #fff !important;
                background: #666666 !important;
            }
        }
    }
}

.qty-input {
    margin: 30px 10px;
    border-radius: 4px;
    transform: scale(1.2);
    max-width: auto !important;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card.skeleton {
    max-width: 100%;
    width: 100%;
    padding: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.card.skeleton .header {
    display: flex;
    align-items: center;
}

.card.skeleton .header .img {
    position: relative;
    width: 70px;
    height: 70px;
    background: #d9d9d9;
    border-radius: 50%;
    overflow: hidden;
}

.header .details {
    margin-left: 20px;
}

.details span {
    position: relative;
    display: block;
    background: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
}

.details .name {
    width: 100px;
    height: 15px;
}

.details .about {
    width: 150px;
    height: 15px;
    margin-top: 10px;
}

.card.skeleton .content {
    margin: 25px 0;
}

.content .line {
    position: relative;
    height: 13px;
    margin: 10px 0;
    border-radius: 10px;
    background: #d9d9d9;
    overflow: hidden;
}

.content .line-3 {
    width: calc(100% - 40%);
}

.card.skeleton .btns {
    display: flex;
}

.card.skeleton .btns .btn {
    position: relative;
    width: 100%;
    height: 40px;
    background: #d9d9d9;
    border-radius: 25px;
    overflow: hidden;
}

.btns .btn-1 {
    margin-right: 8px;
}

.btns .btn-2 {
    margin-left: 8px;
}

.card.skeleton .header .img::before,
.details span::before,
.content .line::before,
.btns .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
            #d9d9d9 0%,
            #888b94 20%,
            #d9d9d9 40%,
            #d9d9d9 100%);
    background-size: 450px 400px;
    background-repeat: no-repeat;
    animation: shimmer 1.4s linear infinite;
}

.details span::before,
.btns .btn-2::before {
    animation-delay: 0.29s;
}

@keyframes shimmer {
    0% {
        background-position: -450px 0px;
    }

    100% {
        background-position: 450px 0px;
    }
}

select option[selected] {
    background: $primary-color !important;
    color: #fff !important;
}

select option[value] {
    background: $primary-color !important;
    color: #fff !important;
}

select option[value=""] {
    background: #fff !important;
    color: $primary-color !important;
}

.box-shadow-active {
    box-shadow: $primary-color 0px 3px 8px !important;
}

.form-check-input {
    border: 2px solid $primary-color !important;
    cursor: grab;
    padding: 10px;
}

.form-check-input:active {
    cursor: grabbing;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.daftar-akun {
    border-top: 2px solid $primary-color;
}